# tony9402
solution/*/*.* @tony9402

# inclue
solution/*/*.c @inclue
solution/*/*.cpp @inclue

# kim1109123
solution/*/*.c @kim1109123
solution/*/*.cpp @kim1109123

# nnnlog
solution/*/*.c @nnnlog
solution/*/*.cpp @nnnlog

# sonsy0929
solution/*/*.c @sonsy0929
solution/*/*.cpp @sonsy0929
solution/*/*.java @sonsy0929
solution/*/*.py @sonsy0929

# tongnamuu
solution/*/*.c @tongnamuu
solution/*/*.cpp @tongnamuu
solution/*/*.java @tongnamuu
solution/*/*.py @tongnamuu

# r4pidstart
solution/*/*.c @r4pidstart
solution/*/*.cpp @r4pidstart
solution/*/*.py @r4pidstart

# vincent773
solution/*/*.c @vincent773
solution/*/*.cpp @vincent773
solution/*/*.py @vincent773

# utilForever
solution/*/*.cpp @utilForever
solution/*/*.rs @utilForever

# mlleo
solution/*/*.c @mlleo
solution/*/*.cpp @mlleo
solution/*/*.py @mlleo

# manguuu
solution/*/*.c @manguuu
solution/*/*.cpp @manguuu
solution/*/*.py @manguuu

# KSH-code
solution/*/*.c @KSH-code
solution/*/*.cpp @KSH-code

# K0hoo
solution/*/*.c @K0hoo
solution/*/*.cpp @K0hoo
solution/*/*.py @K0hoo
solution/*/*.java @K0hoo

# firekann
solution/*/*.c @firekann
solution/*/*.cpp @firekann
solution/*/*.py @firekann

# Lim-YongKwan
solution/*/*.c @Lim-YongKwan
solution/*/*.cpp @Lim-YongKwan
solution/*/*.swift @Lim-YongKwan

