name: Auto Pick Problem (Daliy)

on:
  schedule:
    - cron: '30 16 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: main
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
          python-version: '3.x'
          architecture: 'x64'
    - name: Setup pip
      run: |
        python -m pip install --upgrade pip
        pip install pytz
    - name: PICK
      run: |
         python scripts/pick_problem.py
    - name: Commits
      run: |
        git config --local user.email "tony9402@naver.com"
        git config --local user.name "tony9402"
        git add .
        git commit -m "Today Problem"
    - name: Push
      uses: ad-m/github-push-action@master
      with:
         branch: 'main'
         github_token: $
